.label {
	width: 20%;
	padding: 4px;
}

.value {
	width: 80%;
	padding: 4px;
}

.error {
	color: red;
}

.outputLabel {
	font-weight: bold;
}

.card {
	padding: 1em;
}

.wizardCardId {
	margin-left: -20px;
}
/* form Shadow and background color */
.internalCardId { /* position: absolute; */ /* position: relative;  */
	/* box-shadow: 25px 20px 3px -7px grey; */
	box-shadow: 14px 13px lightgrey, 0em 0 0.45em grey;
	/* box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%); */
	/* background-color: lightgrey; */
}
/* Photo gallery shadow */
#galleriaId {
	box-shadow: -24px -23px 3px -7px lightpink;
	box-shadow: 15px 16px 2px -5px grey;
}

#inlineId {
	margin-bottom: -1rem;
}

:root { -
	-main-bg-color: #{galleriaView.color
}

}
.ui-galleria-content {
	box-shadow: 30px 30px 35px 30px var(- -main-bg-color);
}

.testClassShadow {
	box-shadow: 30px 30px 35px 30px var(- -main-bg-color);
}

.textAlignToCenter {
	text-align: -webkit-center;
}

.userClass {
	background-image: url("#{resource['img/glyphicons-halflings.png']}");
}

body .ui-galleria .ui-galleria-item-nav .ui-galleria-item-next-icon {
	font-size: 5rem;
}
/* form panel border */
body .ui-panel .ui-panel-content {
	border: 0px;
}

ui-column-title {
	color: red;
}
/* Form Datatable edit button cancel button color */
body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-close:before
	{
	color: black;
}
/* Form Datatable edit button CheckMark button color */
body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-check:before
	{
	color: mediumseagreen;
	font-size: 2rem;
}
/* Form Datatable edit button color */
body .ui-datatable .ui-datatable-data>tr .ui-row-editor .ui-icon.ui-icon-pencil:before
	{
	color: black;
}
/* Form Datatable header: color and background */
body .ui-datatable thead th {
	background: lightsteelblue;
	color: black;
}
/*  Form Datatable Edit button press - background color of all column */
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
	background: linear-gradient(45deg, seagreen, transparent);
}
/* First tab, showing  */
body .ui-button.ui-button-text-only .ui-button-text {
	font-size: x-large;
	color: black;
}
/* First tab, girl color */
body .ui-button.ui-button-help, body .ui-splitbutton.ui-button-help>.ui-button
	{
	background: hotpink;
}
/* Personal page, Red Button - shifting upwards */
body .ui-button.ui-button-danger, body .ui-splitbutton.ui-button-danger>.ui-button
	{
	margin-top: -1rem;
}
/* FamilyMember page, button text from black to white */
body .ui-button.ui-button-text-only .ui-button-text {
	color: white;
}
/* First Page - message for profile visible to other Rajputs */
body .ui-toggleswitch {
	height: 1.15rem;
}